*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  transition: all 0.1s ease-in;
}

:root {
  --color-text: rgba(47, 40, 30, 1);
  --color-text-p: rgba(84, 72, 55, 1);
  --color-orange: rgba(255, 153, 0, 1);
  --color-white: rgb(255, 255, 255);
}

body {
  font-family: "Montserrat", sans-serif;
  color: var(--color-text);
}

input,
button,
textarea,
select {
  font-family: inherit;
}

h2 {
  font-size: 36px;
  font-weight: 700;
  line-height: 121%;
  margin-bottom: 20px;
}

p,
h3,
h4 {
  font-size: 16px;
  font-weight: 400;
  line-height: 162%;
}

h4 {
  font-weight: 700;
  margin-top: 30px;
  margin-bottom: 10px;
}

p {
  color: var(--color-text-p);
}

a,
button {
  cursor: pointer;
}

a {
  text-decoration: none;
  color: var(--color-text);
}

a:hover {
  color: var(--color-orange);
}

img {
  max-width: 100%;
  height: auto;
}

li {
  list-style: none;
}

.container {
  margin: 0 auto;
  max-width: 1200px;
}


/* header */
.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 17px 0;
}


/* logo */
.logo-img {
  width: 32px;
  height: 30px;

  margin-right: 12px;
}


/* header__navigation */
.header__navigation-list {
  display: flex;
  align-items: center;
  gap: 20px;
}


/* buttons */
.button {
  padding: 13px 0;
  width: 110px;
  border: 1px solid rgba(188, 208, 229, 1);
  border-radius: 4px;
  background: var(--color-white);

  font-size: 16px;
  font-weight: 600;
  line-height: 121%;
}

.bnt-sign-in {
  color: var(--color-text);
  margin-right: 32px;
}

.btn-orange {
  color: var(--color-white);
  background: var(--color-orange);
  border: 1px solid var(--color-orange);
}

.button:hover {
  opacity: 0.7;
}

.btn-get-started {
  width: 180px;
}

.btn-sign-up-now {
  width: 180px;
}


/* hero */
.hero {
  margin-top: 70px;
  margin-bottom: 100px;
}

.hero__container {
  display: flex;
  align-items: center;
  gap: 56px;
}

.hero__text-content {
  max-width: 500px;
}

.hero__title {
  font-size: 44px;
  font-weight: 700;
  line-height: 122%;
}

.hero__description {
  font-size: 18px;
  font-weight: 400;
  line-height: 155%;

  margin-top: 30px;
  margin-bottom: 20px;
}


/* section-tools */
.section-tools {
  background-image: url(images/bg.svg);
  background-size: 100% 510px; 
  background-repeat: no-repeat; 
  padding-bottom: 100px;
}

.section-tools__container {
  display: flex;
  flex-direction: column; 
  align-items: center;
}

.section-tools__title {
  max-width: 539px;

  text-align: center;
}

.section-tools__list {
  margin-top: 50px;
  margin-bottom: 70px;

  display: flex;
  align-items: center;
  gap: 40px;
}

.section-tools__list-item--icon {
  width: 50px;
  height: 50px;
}

.section-tools__list-item--h3 {
  margin-top: 30px;
  margin-bottom: 16px;

  font-size: 22px;
  font-weight: 600;
  line-height: 121%;
}



/* sections */
section {
  margin-bottom: 100px;
}

.section-design-pro__container,
.section-p-managers__container,
.section-marketers__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.section-p-managers__illustration {
  order: -1;
}

.section-design-pro__content-text,
.section-p-managers__content-text,
.section-marketers__content-text {
  max-width: 525px;
}

.section-p-managers__list-item {
  display: flex;
  align-items: center;
  gap: 30px;
  margin-bottom: 30px;
} 

.section-p-managers__list-item:nth-last-child(){
  margin-bottom: 0;
}

.section-p-managers__list-item--icon {
  width: 35px;
  height: 35px;
}

.description {
  margin-bottom: 40px;
}


/* footer */
.footer {
  border-top: 1px solid rgba(188, 208, 229, 0.5);
}

.footer__container {
  display: flex;
  justify-content: space-between;

  padding: 70px 0;
}

.footer__form {
  max-width: 280px;
}

.footer-title {
  margin-bottom: 30px;
}

.footer-title-form {
  margin-bottom: 25px;
}

.footer-title,
.footer-title-form {
  font-size: 20px;
  font-weight: 700;
  line-height: 150%;
}

.footer-quick-links__list-item,
.footer-legal-stuff__list-item {
  margin-bottom: 15px;
}

.footer-quick-links__list-item:nth-last-child(),
.footer-legal-stuff__list-item:nth-last-child() {
  margin-bottom: 0;
}

.footer-form__input {
  width: 340px;
  border: 1px solid rgba(188, 208, 229, 1);
  border-radius: 4px;
  padding: 15px 10px;
  margin-bottom: 25px;
}

.footer-form__input::placeholder {
  color: rgba(188, 208, 229, 1);
}

.footer-form__input:hover {
  border: 1px solid var(--color-orange);
}
